<header class="header_background">
  <div class="header_content--position">
    <div class="header_buttons--position">
      <div class="header_content--title">
        <h1 class="header_text--title">Ala Fly Dream</h1>
      </div>
      <button class="header_buttons" mat-stroked-button>
        <mat-icon class="header_icone"> home </mat-icon>Accueil
      </button>
      <button class="header_buttons" mat-stroked-button>Voyage</button>
      <button class="header_buttons" mat-stroked-button>Hotel</button>
    </div>

    <div class="header_buttons--position">
      <button class="header_buttons" mat-stroked-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</header>
