<app-header></app-header> <app-city></app-city> <br />
<div class="btn-position">
  <!-- <button mat-raised-button color="primary" (click)="getHelloWorld()">
    Connect to API and get HELLO WORLD
  </button> -->
  <button mat-raised-button color="primary" (click)="obsTest()">obsTest</button>
</div>
<div>
  <button mat-raised-button color="primary" (click)="getProduct()">
    get Product
  </button>
</div>

<!-- Le button commenté génére une erreur que nous avons 
essayé de corriger sans succes. Vous trouverez la fonction
"getHelloWorld" dans le fichier "app.component.ts" également
commentée. -->
